::-webkit-scrollbar{
  background-color: rgb(255, 255, 255);
  width: 8px;
  
}

::-webkit-scrollbar-thumb{
  background-color: #1a1a1a;
  
  border-radius: 10px;
}
::-webkit-scrollbar-button{
  display: none;
}

code{
  background-color: black;
  color: white;
  min-width: 500px;
  min-height: 300px;
  height: 300px;
}